<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">İletişim</h5>
    <h6 class="card-subtitle mb-2 text-muted">İlhan Mert Alan</h6>
    <p class="card-text">Bilgisayar Mühendisi</p>
    <a href="https://github.com/ilhanm" class="card-link">Github</a>
    <a href="https://www.linkedin.com/in/ilhanmertalan/" class="card-link">LinkedIn</a>
  </div>
</div>